body {
    min-height: 100vh;
}

.bg-cover {
    background-size: cover !important;
}

.headBanner {
    -webkit-filter: drop-shadow(1px 1px 0 white)
                    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white) 
            drop-shadow(-1px -1px 0 white);
  }

.imgCarrusel{
    width: 25%;
}

.nav-link{
    padding: 0;
}