@font-face {
    font-family: Cocogoose;
    src: url(../fonts/Cocogoose.ttf);
}

@font-face {
    font-family: PerfectCC;
    src: url(../fonts/Perfect_fonts_CC.ttf);
}

.CreativaFont1{
    font-size: 60px;
    font-family: PerfectCC;
}

.CreativaFont2{
    font-family: Cocogoose;
    font-size: 1em;
    text-align: justify;
}